/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #027e46;
  --ion-color-primary-rgb: 2, 126, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #014b28;
  --ion-color-primary-tint: #197048;

  --ion-color-secondary: #25b396;
  --ion-color-secondary-rgb: 37, 179, 150;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #219e84;
  --ion-color-secondary-tint: #3bbba1;

  --ion-color-tertiary: #70ced0;
  --ion-color-tertiary-rgb: 112, 206, 208;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #63b5b7;
  --ion-color-tertiary-tint: #7ed3d5;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #f1a104;
  --ion-color-warning-rgb: 241, 161, 4;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d48e04;
  --ion-color-warning-tint: #f2aa1d;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.dot {
  background-color: rgb(0, 102, 255);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

ion-list {
  padding-top: 0 !important;
}

.list {
  height: 500px;
}

.list-header {
  margin: 0;
  display: inline;
}

ion-title {
  padding-inline-start: 15px;
  padding-inline-end: 25px;
}

.new-user-modal .modal-wrapper {
  height: 285px;
  width: 350px;
}

input {
  background: white;
}

.payment-data {
  font-weight: bold;
}

ion-card {
  margin: 0 !important;
  margin-top: 10px !important;
}
