/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Staatliches&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #01796f;
  --ion-color-primary-rgb: 1, 121, 111;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #016a62;
  --ion-color-primary-tint: #1a867d;
  --ion-color-primary-lighter: #e6f2f1;

  --ion-color-secondary: #9ba474;
  --ion-color-secondary-rgb: 155, 164, 116;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #889066;
  --ion-color-secondary-tint: #a5ad82;

  --ion-color-tertiary: #757938;
  --ion-color-tertiary-rgb: 117, 121, 56;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #676a31;
  --ion-color-tertiary-tint: #83864c;

  --ion-color-success: #4cbb17;
  --ion-color-success-rgb: 76, 187, 23;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #43a514;
  --ion-color-success-tint: #5ec22e;

  --ion-color-warning: #c7ea46;
  --ion-color-warning-rgb: 199, 234, 70;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #afce3e;
  --ion-color-warning-tint: #cdec59;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #555555;
  --ion-color-dark-rgb: 85, 85, 85;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #4b4b4b;
  --ion-color-dark-tint: #666666;

  --ion-color-medium: #b8dd9d;
  --ion-color-medium-rgb: 169, 186, 157;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #95a48a;
  --ion-color-medium-tint: #b2c1a7;

  --ion-color-light: #eef3eb;
  --ion-color-light-rgb: 238, 243, 235;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #eceeeb;
  --ion-color-light-tint: #f0f4ed;

  /* Grid Padding */
  --ion-padding: 5px;

  --ion-grid-padding-xs: 5px;
  --ion-grid-padding-sm: 8px;
  --ion-grid-padding-md: 13px;
  --ion-grid-padding-lg: 20px;
  --ion-grid-padding-xl: 20px;
  --ion-grid-column-padding-xs: 5px;
  --ion-grid-column-padding-sm: 8px;
  --ion-grid-column-padding-md: 13px;
  --ion-grid-column-padding-lg: 20px;
  --ion-grid-column-padding-xl: 20px;

  --ion-background-color: rgb(250, 250, 250);
  /* Fonts */
  --ion-font-family: "Work Sans", sans-serif;
}

/* Custom Themes */
:root .main {
  --ion-color-primary: #01796f;
  --ion-color-primary-rgb: 1, 121, 111;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #016a62;
  --ion-color-primary-tint: #1a867d;
  --ion-color-primary-lighter: #e6f2f1;
}

:root .customer {
  --ion-color-primary: #268bc9;
  --ion-color-primary-rgb: 38, 139, 201;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #217ab1;
  --ion-color-primary-tint: #3c97ce;
  --ion-color-primary-lighter: #deeef7;
}

:root .employee {
  --ion-color-primary: #0b6623;
  --ion-color-primary-rgb: 11, 102, 35;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a5a1f;
  --ion-color-primary-tint: #237539;
  --ion-color-primary-lighter: #dae8de;
}

div.firebase-emulator-warning {
  top: 0;
  height: 0px;
  width: 0px !important;
  overflow: hidden;
}

/* Spacing and Positioning */

ion-searchbar {
  max-width: 400px;
}

ion-card,
ion-card-header,
ion-card-content,
ion-card ion-toolbar,
ion-list {
  --background: white !important;
  background-color: white !important;
}

ion-card-content {
  padding-top: 15px !important;
}

ion-tab-bar {
  justify-content: left;
}

@media (max-width: 768px) {
  ion-tab-bar {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  ion-header {
    display: none;
  }
}

/* Fonts */

ion-header ion-title {
  font-weight: 600;
}

.ios ion-header ion-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

ion-tab-bar ion-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  max-width: 200px;
  text-transform: uppercase;
}

ion-title,
ion-card-title,
ion-card-header,
h1,
h2,
h3 {
  color: var(--ion-color-dark);
}

/* Modals */
@media (min-width: 768px) {
  .small-modal::part(content) {
    height: 270px;
    width: 350px;
  }

  .medium-modal::part(content) {
    height: 270px;
    width: 350px;
  }
}

/* Colors */

ion-select,
ion-toolbar {
  color: white;
}

input,
ion-item {
  --background: var(--ion-color-white);
}

/* Auxiliary */
ion-page,
ion-router-outlet {
  background: white;
}

ion-tab-bar {
  --border: none;
}

.dot {
  background-color: rgb(0, 102, 255);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

ion-card li {
  list-style: none;
}

.ion-item-button {
  border-radius: 15px;
}

.input-card {
  padding: 25px;
}

.toggle-item {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.reorder-item {
  background: var(--ion-background-color) !important;
}

.date-popover {
  --width: 350px;
}

.date-popover ion-datetime {
  width: 350px;
}

ion-datetime {
  --background: white;
}
